Package: us.necibi.mediacontrols
Name: Media Controls Flipswitch
Version: 0.1.1
Architecture: iphoneos-arm
Description: Flipswitch toggle for Media Controls
Author: Malek Necibi
Section: Addons (Flipswitch)
Depends: firmware (>= 13.0), mobilesubstrate (>= 0.9.5000), com.a3tweaks.flipswitch
